<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bk.danang.quanlybanhang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".QuanLyHoaDonActivity"
            android:label="@string/quanly_hoadon" />
        <activity
            android:name=".HoaDonActivity"
            android:label="@string/quanly_hoadon" />
        <activity
            android:name=".QuanLySanPhamActivity"
            android:label="@string/quanly_sanpham" />
        <activity
            android:name=".SanPhamActivity"
            android:label="@string/quanly_sanpham" />
        <activity
            android:name=".QuanLyLoaiSPActivity"
            android:label="@string/quanly_loaisp" />
        <activity
            android:name=".LoaiSPActivity"
            android:label="@string/quanly_loaisp" />
        <activity
            android:name=".QuanLyNhanHieuActivity"
            android:label="@string/quanly_nhanhieu" />
        <activity
            android:name=".NhanHieuActivity"
            android:label="@string/quanly_nhanhieu" />
        <activity
            android:name=".QuanLyKhachHangActivity"
            android:label="@string/quanly_khachhang" />
        <activity
            android:name=".KhachHangActivity"
            android:label="@string/quanly_khachhang" />
        <activity
            android:name=".QuanLyNhomKHActivity"
            android:label="@string/quanly_nhomkh" />
        <activity
            android:name=".NhomKHActivity"
            android:label="@string/quanly_nhomkh" />
        <activity
            android:name=".QuanLyNhanVienActivity"
            android:label="@string/quanly_nhanvien" />
        <activity
            android:name=".NhanVienActivity"
            android:label="@string/quanly_nhanvien" />
        <activity
            android:name=".QuanLyDoanhThuActivity"
            android:label="@string/quanly_doanhthu" />
    </application>

</manifest>